In [10]:
#NAME : VISHAL | Reg .no: 22-27-01 | Branch : Data science | Department : SOCS&MS

[ ]# question 01 / code 
#NAME : VISHAL | Reg .no: 22-27-01  |  Branch : Data science | Department : SOCS&MS
n=int(input("enter the no of element in list"))
list1=[]
for i in range (n):
   list1.append(int(input()))

list2= list1[::-1]
#list2= list1.reverse()
print(list2)
list3=[]

for j in range (0 ,len(list1)):
   list3.append(list1[j]*list2[j])

print("list3=", list3)

enter the no of element in list4
4
3
2
6
[6, 2, 3, 4]
list3= [24, 6, 6, 24]

In [4]:
# question 02 / code 
#NAME : VISHAL | Reg .no: 22-27-01 |  Branch : Data science | Department : SOCS&MS
n=int(input("enter the no of element in list"))
list1=[]
for i in range (n):
   list1.append(int(input()))
print("list before sortig " ,list1)
#sorting the list
list1.sort()
#printing sorted list
print("list after sortig " ,list1)
print("second minimum = " , list1[1] )
print("second maximum =" , list1[n-2])

enter the no of element in list5
8
6
23
34
22
list before sortig  [8, 6, 23, 34, 22]
list after sortig  [6, 8, 22, 23, 34]
second minimum =  8
second maximum = 23

In [5]:
# question 03 / code 
#NAME : VISHAL | Reg .no: 22-27-01  |  Branch : Data science | Department : SOCS&MS
n=int(input("enter the no of element in list"))
list1=[]
for i in range (n):
   list1.append(int(input()))
print("input list",list1)
list2=[]
for item in list1:
  if(item%5!=0):
    list2.append(item)
# list after removing multiple of 5 
print("updated list" ,list2)2

enter the no of element in list5
22
0
32
43
45
input list [22, 0, 32, 43, 45]
updated list [22, 32, 43]

In [7]:
# question 04 / code 
#NAME : VISHAL | Reg .no: 22-27-01  |  Branch : Data science | Department : SOCS&MS
print("give binary input 0's or 1's")
n=int(input("enter the no of element in list"))
list1=[]
for i in range (n):
   list1.append(int(input()))
if ((list1.count(0) or list1.count(1)) == 1 ):
  print("yes")
else:
  print("no")1

give binary input 0's or 1's
enter the no of element in list5
1
1
0
1
1
yes

In [8]:
# question 05 / code 
#NAME : VISHAL | Reg .no: 22-27-01 |  Branch : Data science | Department : SOCS&MS
num=int(input("enter the no of element to find  factorial "))
def factorial(n):
  if (n==1 or n==0):
    return 1
  else:
    return (n*factorial(n-1))

result= factorial(num)
print(f"factorial {num}! =" , result)

enter the no of element to find  factorial 4
factorial 4! = 24

In [9]:
# question 06 / code 
#NAME : VISHAL | Reg .no: 22-27-01  |  Branch : Data science | Department : SOCS&MS
print("enter range of two number  N and M")
n=int(input())
m=int(input())
list1=[]
for i in range (n , m+1):
  if (i%2==0):
    list1.append(i)
print(list1)

enter range of two number  N and M
10
25
[10, 12, 14, 16, 18, 20, 22, 24]